// Ajutes nas Cores //

$black-color: #000000;
$white-color: #f8f8f8;
$gray-color: #1a1a1a;

// Ajures nas Cores Especias //

$blue-color: #0018ce;
$purple-color: #b900e7;
$orange-color: #ff8c00;
$red-color: #e50000;

//Ajures nas Cores Nulas //

$null-color: #00eafb;