// Ajutes no Container Princial da Hero //

.bg-container {
    width: 100%;
    position: relative;
}
.bg-container::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000), url("../assets/Progecoes-images-2.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.8;
}

// Ajutes na  Pseudo Classe Individual Container //
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1600px;
    background-color: #000;
    color: white;
    padding: 12%;
}

.containerhard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 2100px;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 6%;
}


// Hero //

.hero{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: left;
    padding: 12%;
    .hero-content{
        max-width: 100vh;
        height: max-content;
        z-index: -1;
        h1{
            font-size: 4.6em;
            margin-bottom: 0.2em;
            font-family: "Major Mono Display", serif;
            font-weight: 400;
            font-style: normal;
        }
        h2{
            font-size: 2.8em;
            font-family: "Major Mono Display", serif;
            font-weight: 100;
            margin-bottom: 0.2em;
        }
        p{
            font-size: 1.2em;
            margin-block: 0.8rem;
            font-family: "Roboto Flex", serif;
            font-optical-sizing: auto;
            letter-spacing: 0.2rem;
            width: 70%;
            margin-block-start: 1rem;
            margin-block-end: 2.8rem;
        }
    }
 
    .hero-btn{
        margin-top: 1em;
        background-color: $blue-color;
        color: white;
        padding: 1em 2.8em;
        margin-block: 1.8rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 0.2rem;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        z-index: -10;
        &:hover{
            background-color:$white-color;
            color: #000;
            box-shadow: 0 0 20px $white-color;
        }
    }
}

.hero-carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    margin-top: 2rem;
    margin-bottom: 5.6rem;
    -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);

    div{
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        animation: scroll 8s linear infinite;

        p{
            font-size: 1.2em;
            font-family: "Major Mono Display", serif;
            color: $orange-color;
            font-weight: 400;
            font-style: normal;
            margin-block: 0.2rem;
        }
    }
}
  
//Responsividade //

@media screen and (max-width: 1180px){
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       .hero-content{
            position: absolute;
            top: 10%;
            left: 0;
            padding: 5%;
            h1{
                font-size: 3.6em;
            }
            h2{
                font-size: 2.2em;
            }
            p{
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .hero{
        height: 20vh;
        justify-content: start;
        align-items:start;
        .hero-content{
            position: absolute;
            top: 30%;
            left: 0;
            padding: 5%;
            h1{
                font-size: 3.6em;
            }
            h2{
                font-size: 2.2em;
            }
            p{
                font-size: 1em;
            }
        }
    }
    .hero-carousel{
        height: max-content;
        width: 100%;
        div{
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            p{
                font-size:1.0em;
            }
        }
    }
}
@media only screen and (max-width: 468px){
    .hero{
        height: 15vh;
        flex-direction: column;
        .hero-content{
            position: absolute;
            top: 25%;
            left: 0;
            padding: 5%;
            h1{
                font-size: 2.4em;
            }
            h2{
                font-size: 1.6em;
            }
            p{
                font-size: 0.9em;
            }
        }
        .hero-btn{
            margin-top: 0;
            border-radius: 0;
            padding: 0.6rem 1.4rem;
            margin-bottom: 1em;
        }
    }
}

// Princiais Eventos //

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    justify-content: space-around;
    margin-top: 3em;
    padding: 2em;

    .gallery-header{
        height: max-content;
        width: 100%;
        gap: 1rem;

        div{
            height: max-content;
            width: 100%;
            margin-inline-end: 3.8rem;
        }
        h2{
            font-size: 3.6em;
            color: $orange-color;
            font-family: "Major Mono Display", serif;
            font-weight: 100;
            margin-bottom: 0.2em;
        }
        p{
            font-size: 1.2em;
            margin-block: 0.8rem;
            font-family: "Roboto Flex", serif;
            font-optical-sizing: auto;
            letter-spacing: 0.2rem;
            width: 80%;
            margin-block-start: 1.6rem;
            margin-block-end: 3.4rem;
        }
    }

    .gallery-content{
        height:max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../assets/Projecoes-img-4.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
        &:hover{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }
        div:nth-child(2){
            flex-direction: row-reverse;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{
                transform: scale(1.01);
            }
        }
        .gallery-item{
            height: 40vh;
            width: 130%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            background-color: rgba(0, 0, 0, 0.8);
            font-size: 1.2em;
            font-weight: 600;
            margin-bottom: 1em;

            .midia{
                width: 100%;
                height: 400px;
                transition: background-size 0.3s ease;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                width: 100%;
                height: 400px;
                margin-inline-start: 2rem;

                h3{
                    font-size: 2.4em;
                    text-align: left;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    color: $orange-color;
                    margin-block: 0.2rem;
                }
                h4{
                    font-size: 1.4em;
                    text-align: left;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    color: $orange-color;
                    margin-block: 0.8rem;
                }
                span{
                    font-size: 1.6em;
                    text-align: left;
                    font-family:Arial, Helvetica, sans-serif;
                    font-weight: 100;
                    letter-spacing: 0.2rem;
                    margin-block: 0.4rem;
                }
                p{
                    font-size: 0.9em;
                    text-align: left;
                    letter-spacing: 0.2rem;
                    margin-block: 0.4rem;
                }
            }
        }
    }
}

// Responsividade //

@media screen and (max-width: 1180px){
    .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       .gallery-content{
         width: 100%;
         margin-top: 1em;
       }
    }
}

@media only screen and (max-width: 992px) {
    .gallery {
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;

        .gallery-header{
            height: max-content;
            width: 100%;
            gap: 1rem;
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.0rem;
            }
        }    
       .gallery-content{
            width: 100%;
            height: max-content;
            margin-top: 1em;
            padding: 1em;
            div:nth-child(2){
                flex-direction: column;
            }

            .gallery-item{
                width: 100%;
                height: max-content;
                margin-bottom: 1em;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.8);
                font-size: 1.2em;
                font-weight: 600;
                padding: 1em;
                .content{
                    height: max-content;
                    margin: 0;
                    h3{
                        font-size: 2em;
                        text-align: left;
                        color: $orange-color;
                        margin-block: 0.2rem;
                    }
                    span{
                        font-size: 1.6em;
                        text-align: left;
                        margin-block: 0.4rem;
                    }
                    p{
                        font-size: 0.9em;
                        text-align: left;
                        margin-block: 0.4rem;
                    }
                    h4{
                        font-size: 1.4em;
                        text-align: left;
                        color: $orange-color;
                        margin-block: 0.8rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 468px){
    .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .gallery-header{
            height: max-content;
            width: 100%;
            gap: 1rem;
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.0rem;
            }
        }    

       .gallery-content{
            background-color: aqua;
            height: max-content;
            width: 100%;
            margin-top: 1em;
            .gallery-item{
                width: 100%;
                height:max-content;
                .content{
                    h3{
                        font-size: 1.4rem;
                    }
                    span{
                        font-size: 1rem;
                    }
                    p{
                        font-size: 0.8rem;
                        font-weight: 100;
                    }
                    h4{
                        font-size: 1rem;
                    }
                }
             
            }
            .midia{
                width: 10%;
                display: none;
                height: 100px;
                img{
                    width: 10%;
                    height: 10%;
                    object-fit: cover;
                }
            }
        }
    }
}

// Highlights //

.highlights{
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    margin-top: 3.6rem;
    padding: 2.4rem;

    .highlights-header{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 100%;
        height:max-content;
        color: $white-color;
        text-align: center;
        margin-block-end: 5.2rem;
  
        h2{
            font-size: 3.6em;         
            color: $orange-color;
            margin-block: 0;
            font-family: "Major Mono Display", serif;
            font-weight: 400;
            font-style: normal;
            margin-block: 0.4rem;
        }
        p{
            font-size: 1.6em;
            letter-spacing: 0.2rem;
            text-align: right;
            width: 80%;
            margin-block: 0.8rem;
        }
    }

    
    .highlights-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: max-content;

        .highlights-item{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 2.4rem;
            width: 100%;
            height: max-content;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease;
            &:hover{
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            }

            .highlights-object{
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                margin-inline: 0.8rem;
                transition: transform 0.3s, box-shadow 0.3s ease;
                
                &:hover{
                    box-shadow: 0px 0px 20px $orange-color;
                    transform: scale(1.01);
                }
           

                img{
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                    border-radius: 12px;
                    transition: transform 0.3s ease;
                    &:hover{
                        transform: scale(1.01);
                    }
                }
                h3{
                    font-size: 2em;
                    color: $orange-color;
                    margin-block: 0.4rem;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    margin-block-start: 2rem;
                    margin-inline-start: 0.4rem;
                }
                h4{
                    font-size: 1.4em;
                    color: $orange-color;
                    margin-block: 0.4rem;
                    letter-spacing: 0.2rem;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;;
                    text-align: left;
                    margin-block-start: 0.8rem;
                    margin-inline-start: 0.4rem;
                }
                p{
                    font-size: 1.2em;
                    color: $white-color;
                    margin-block: 0.8rem;
                    letter-spacing: 0.2rem;
                    text-align: left;
                    margin-inline-start: 0.4rem;
                }
            }
        }
    }    
    .highlights-carousel{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: max-content;
        margin-top: 2rem;
        margin-bottom: 5.6rem;
        -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);

        div{
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
            font-family: "Major Mono Display", serif;
            font-weight: 400;
            font-style: normal;
            animation: scroll 8s linear infinite;

            p{
                font-size: 1.2em;
                color: $orange-color;
                margin-block: 0.2rem;
            }
        }
    }
}
@keyframes partners {
    to{
        transform: translateX(-100%)
    }
    from{
        transform: translateX(100%);
    }
}

@keyframes scroll {
    to{
        transform: translateX(0);
    }
    from{
        transform: translateX(-100%);
    }
}

// Responsividade //

@media only screen and (max-width: 1024px){
    .highlights{
        height: max-content;
        width: 100%;
        max-width: max-content;
    }
}
@media only screen and (max-width: 768px){
    .highlights{
        flex-direction: column;
        align-items: center;
        margin-top: 2.4rem;
        padding: 1.6rem;
        .highlights-header{
            height: max-content;
            width: 100%;
            max-width: max-content;
            margin-block-end: 3.2rem;
            h2{
                font-size: 2.2em;
                margin-block: 0;
                text-align: right;
            }
            p{
                font-size: 1.2em;
                width: 80%;
                text-align: right;
                margin-block: 0.8rem;
            }
        }
        .highlights-content{
            height: max-content;
            width: 100%;
            max-width: max-content;
            padding: 0;
            flex-direction: column;
            .highlights-item{
                width: 100%;
                padding: 0;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                .highlights-object{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    border-radius: 12px;
                    img{
                        width: 100%;
                        height: 50%;
                        object-fit: cover;
                        border-radius: 12px;
                        margin: 0;
                        padding: 0;
                    }
                    h3{
                        font-size: 1.8em;
                        color: $orange-color;
                        margin-block: 0.4rem;
                        font-family: "Major Mono Display", serif;
                        font-weight: 400;
                        font-style: normal;
                        margin-inline-start: 0.4rem;
                    }
                }
            }
            
        }
    }    
}
// Partners //

.partners{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    margin-top: 3.6rem;
    gap: 2.4rem;

    .partners-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        width: 100%;
        height: max-content;
        margin-block-end: 5.2rem;
        border: 1px solid $orange-color;
        -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);
        .partner{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 150px;
            margin-right: 1.6rem;
            animation: partners 7s linear infinite;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 16/9;
            }
        }
        
    }

} 
// Responsividade //

@media only screen and (max-width: 768px){
    .partners{
        flex-direction: column;
        align-items: center;
        margin-top: 1.6rem;
        gap: 1.6rem;
        .partners-content{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-block-end: 2.4rem;
            border: none;
            animation: partners 10s linear infinite;
            -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);
            .partner{
                width: auto;
                height: auto;
                margin-right: 0;
                animation: none;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 16/9;
                }
            }
        }
    }
} 

// Showcase //

.showcase{
    height:max-content;
    width: 100%;
    max-width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end:2.4rem ;
    
    .showcase-header{
        height: max-content;
        width: 100%;
        max-width: max-content;
        gap: 1rem;
        div{
            height: max-content;
            width: 100%;
            margin-inline: 2rem;

            h2{
                font-size: 3.6em;
                color: $orange-color;
                font-family: "Major Mono Display", serif;
                font-weight: 400;
                font-style: normal;
                margin-block: 0.8rem;
            }

            p{
                font-size: 1.4em;
                color: $white-color;
                letter-spacing: 0.2rem;
                width: 70%;
                margin-block: 0.8rem;
            }

        }
        
    }
    .showcase-content{
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1.4rem;
        margin-block-start: 7.6rem;
   
        .showcase-item{
            height: max-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: box-shadow 0.3s ease-in-out;
            &:hover{
                box-shadow: 0 0 30px rgba(255, 132, 0, 0.9);
            }

            .showcase-midia{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-block: 0.8rem;
                img{
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16/6;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                    &:hover{
                        transform: scale(1.02);
                    }
                }
            }
            .showcase-info{
                width: 100%;
                height: 100%;
                display: flex;
                background-color: rgba(0, 0, 0, 0.8);
                flex-direction: column;
                justify-content: center;
                align-items: start;

                h3{
                    font-size: 2.4em;
                    color: $white-color;
                    color: $orange-color;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    margin-block: 0.8rem;
                    margin-inline-start: 0.8rem;
                }
                span{
                    font-size: 1.6em;
                    color: $white-color;
                    letter-spacing: 0.2rem;
                    width: 70%;
                    margin-block: 0.8rem;
                    text-align: left;
                    margin-inline-start: 0.8rem;
                }
                p{
                    font-size: 1.2em;
                    color: $white-color;
                    letter-spacing: 0.2rem;
                    width: 70%;
                    margin-block: 0.8rem;
                    text-align: left;
                    margin-inline-start: 0.8rem;
                }
                h4{
                    font-size: 1.6em;
                    color: $orange-color;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    margin-block: 0.8rem;
                    margin-inline-start: 0.8rem;
                }
            }
        }
    }

}
//Responsividade//
@media screen and (max-width: 1298px){
    .showcase{
        height: max-content;
        width: 100%;
        .showcase-header{
            height: max-content;
            width: 100%;
        }
    }
    .showcase-content{
        height: max-content;
        width: 100%;
        .showcase-item{
            height: max-content;
            width: 100%;

            .showcase-midia{
                height: max-content;
                width: 100%;
            }
            .showcase-info{
                height: max-content;
                width: 100%;
                p{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .showcase{
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        .showcase-header{
            height: max-content;
            gap: 0.8rem;
            div{
                width: 100%;
                h2{
                    font-size:2.2em;
                    width: 100%;
                }
                p{
                    font-size: 1.0em;
                    width: 100%;
                }
            }
        }
        .showcase-content{
            height: max-content;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 1rem;

            .showcase-item{
                
                flex-direction: column;
                height: max-content;
                align-items: center;
                justify-content: center;
                width: 100%;
                
                .showcase-midia{
                    background: transparent;
                    height: max-content;
                    width: 100%;
                    height: max-content;
                    img{
                        width: 80%;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                    }
                }
                .showcase-info{
                    flex-direction: column;
                    height: max-content;
                    max-width: 100vh;
                    width: 100%;
                    h3{
                        font-size: 1.8em;
                    }
                    span{
                        font-size: 1em;
                    }
                    p{
                        width: 90%;
                        font-size: 1em;
                    }
                    h4{
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

//Testimonials //

.testimonials{
    height: max-content;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    
    .testimonials-header{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        max-width: max-content;
        gap: 1rem;
        h2{
            font-size: 3.6em;
            color: $orange-color;
            font-family: "Major Mono Display", serif;
            font-weight: 400;
            font-style: normal;
            margin-block: 0.8rem;
        }
        p{
            font-size: 1.4em;
            color: $white-color;
            text-align: right;
            letter-spacing: 0.2rem;
            width: 70%;
            margin-block: 0.8rem;
        }
    }    
    .testimonials-content{
        width:100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;
        margin-block-start: 3.8rem;

        .testmonials-item{
            width:100%;
            height: max-content;
            border: 1px solid $orange-color;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: box-shadow 0.3s ease-in-out;
            &:hover{
                box-shadow: 0 0 30px $orange-color;
            }
            .testmonials-image{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction:row;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                margin-block: 2.4rem;
                span{
                    font-size: 2rem;
                    color: $orange-color;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    transition: transform 0.3s ease, text-shadow 0.3s ease;
             

                    &:hover{
                        text-shadow: 0px 0px 20px $orange-color, 0px 0px -20px $orange-color;
                        transform: scale(1.05);
                    }
                }
            }
            .testimonials-info{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 1rem;
                margin-inline-start: 2.4rem;
                h3{
                    font-size: 2.4em;
                    color: $white-color;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    margin-block: 0.2rem;
                }
                p{
                    font-size: 1.1em;
                    color: $white-color;
                    letter-spacing: 0.2rem;
                    width: 80%;
                    margin-block: 0.6rem;
                }
                span{
                    font-size: 1.4em;
                    color: $orange-color;
                    font-family: "Major Mono Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    margin-block: 0.2rem;
                    margin-block-end: 1.8rem;
                }
            }
        }
    }
}

//Reponsividade //

@media screen and (max-width: 1268px){
    .testimonials{
        width: 100%;
        height: max-content;
        .testimonials-header{
            width: 100%;
            height: max-content;
            gap: 0.8rem;
            h2{
                font-size: 2.2em;
            }
            p{
                font-size: 1.2em;
            }
        }
        .testimonials-content{
            width: 100%;
            height: max-content;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            .testmonials-item{
                width:100%;
                height: max-content;
                gap: 1rem;
                margin-block-start: 1.8rem;
                margin-block-end: 1.8rem;
                .testimonials-image{
                    margin-block-end: 1rem;
                }
                .testimonials-info{
                    margin-block-start: 1rem;
                    margin-block-end: 1rem;
                    h3{
                        font-size: 2em;
                    }
                    span{
                        font-size: 1.2em;
                    }
                    p{
                        font-size: 1em;
                    }
                    h4{
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .testimonials{
        width: 100%;
        height: max-content;
        .testimonials-header{
            width: 100%;
            height: max-content;
            gap: 0.8rem;
            h2{
                width: 90%;
                font-size: 2.2em;
            }
            p{
                width: 90%;
                font-size: 1.2em;
                margin-inline-start: 1rem;
            }
        }
        .testimonials-content{
            width: 100%;
            height: max-content;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            .testmonials-item{
                width:100%;
                height: max-content;
                .testimonials-image{
                    margin-block-end: 1rem;
                }
                .testimonials-info{
                    margin-block-start: 1rem;
                    margin-block-end: 1rem;
                    h3{
                        font-size: 2em;
                    }
                    span{
                        font-size: 1.2em;
                    }
                    p{
                        width: 90%;
                        font-size: 1em;
                    }
                    h4{
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 568px){
    .testimonials{
        width: 100%;
        height: max-content;
        .testimonials-header{
            width: 100%;
            height: max-content;
            margin: 0;
            h2{
                width: 90%;
                flex-wrap: wrap;
                font-size: 2.2em;
            }
            p{
                text-align: left;
                width: 90%;
                flex-wrap: wrap;
                font-size: 1.2em;
            }
        }
        .testimonials-content{
            width: 100%;
            height: max-content;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            .testmonials-item{
                width:100%;
                height: max-content;
                border: none;
                margin-block-start: 1.8rem;
                margin-block-end: 1.8rem;
                .testimonials-image{
                    margin-block-end: 1rem;
                }
                .testimonials-info{
                    margin-block-start: 1rem;
                    margin-block-end: 1rem;
                    h3{
                        font-size: 1.5em;
                    }
                    span{
                        font-size: 1.1em;
                    }
                    p{
                        width: 90%;
                        text-align: left;
                        font-size: 1em;
                    }
                    h4{
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}
// FAQ //
.faq{
    height: max-content;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
   .faq-header{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        max-width: max-content;
        gap: 1rem;
        h2{
            font-size: 3.6em;
            color: $orange-color;
            font-family: "Major Mono Display", serif;
            font-weight: 400;
            font-style: normal;
            margin-block: 0.8rem;
            margin-inline-start: 2rem;
        }
        p{
            font-size: 1.4em;
            color: $white-color;
            text-align: left;
            letter-spacing: 0.2rem;
            width: 70%;
            margin-block: 0.8rem;
            margin-inline-start: 2rem;
        }
   }
   .faq-content{
        width: 95%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1.6rem;
        padding-inline-start: 5%;
        margin-block-start: 3.8rem;

        .faq-item{
            width:100%;
            height: 300px;
            border: 1px solid $orange-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            transition: box-shadow 0.3s ease;
            &:hover{
                box-shadow: 0 0 30px $orange-color;
            }
            .faq-answer {
                max-height: 0; /* Começa com altura zero */
                opacity: 0; /* Começa invisível */
                overflow: hidden; /* Garante que o conteúdo não vaze */
                transition: max-height 0.5s ease, opacity 0.5s ease; /* Transição suave */
                margin-top: 10px;
                padding: 0 10px; /* Padding inicial sem altura */
                color: $orange-color;
                border-radius: 5px;
            }
            
            .faq-answer.open {
                max-height: 200px; /* Altura máxima estimada para a resposta */
                opacity: 1; /* Torna visível */
                padding: 10px; /* Adiciona padding quando aberto */
            }

            h3{
                font-size: 2.4em;
                color: $white-color;
                font-family: "Major Mono Display", serif;
                font-weight: 400;
                font-style: normal;
                margin-block-start: 1.2rem;
                margin-block: 0.2rem;
                width: 90%;
                margin-inline-start: 1rem;
            }
            p{
                font-size: 1.1em;
                color: $white-color;
                letter-spacing: 0.2rem;
                width: 90%;
                margin-block: 0.6rem;
                margin-inline-start: 1rem;
            }
            .faq-btn{
                padding: 0.8rem 1.2rem;
                font-size: 1.2rem;
                letter-spacing: 0.2rem;
                border: 1px solid $orange-color;
                color: $white-color;
                margin-block-start: 1rem;
                margin-inline-start: 1rem;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
                &:hover{
                    box-shadow: 0px 0px 10px $orange-color;
                    background-color: $orange-color;
                    color: $white-color;
                }
            }
        }
   }
}

//Responsividade // 
@media screen and (max-width: 768px){
    .faq{
        width: 100%;
        height: max-content;
       .faq-header{
            width: 100%;
            height: max-content;
            gap: 0.8rem;
            h2{
                width: 90%;
                font-size: 2.2em;
            }
            p{
                width: 90%;
                font-size: 1.2em;
            }
       }
       .faq-content{
            width: 100%;
            height: max-content;
            padding: 0;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            .faq-item{
                width:100%;
                height: max-content;
                gap: 1rem;
                border: none;
                margin-block-start: 1.8rem;
                margin-block-end: 1.8rem;
                h3{
                    font-size: 1.8rem;
                    margin-block-start: 1rem;
                }
                p{
                    width: 90%;
                    font-size: 1em;
                }
                .faq-btn{
                    padding: 0.4rem 1.0rem;
                    font-size: 0.8em;
                    margin-inline-end: 1.2rem;
                    margin-block-end: 1rem;
                }
            }
       }
    }
}

//Map//
.map{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-block-start: 3.8rem;

    .map-header{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        max-width: max-content;
        gap: 1rem;
        h2{
            font-size: 3.6em;
            color: $orange-color;
            font-family: "Major Mono Display", serif;
            font-weight: 400;
            font-style: normal;
            margin-block: 0.8rem;
            margin-inline-end: 2rem;
        }
        p{
            font-size: 1.4em;
            color: $white-color;
            text-align: right;
            letter-spacing: 0.2rem;
            width: 70%;
            margin-block: 0.8rem;
            margin-inline-end: 2rem;
        }
    }

    .map-content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-block: 2.4rem;
        height: max-content;
        iframe{
            width: 900px;
            height: 600px;
        }

        .map-info{
            width: 60%;
            height: max-content;
            gap: 1rem;
            h3{
                font-size: 3.4em;
                color: $white-color;
                font-family: "Major Mono Display", serif;
                font-weight: 400;
                font-style: normal;
                margin-block: 1.4rem;
                margin-inline-start: 1rem;
            }
            p{
                font-size: 1.1em;
                color: $white-color;
                letter-spacing: 0.2rem;
                width: 80%;
                margin-block: 0.6rem;
                margin-inline-start: 1rem;
            }
        }
    }
    .map-footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-block-start: 3.2rem;
        border: 1px solid $orange-color;
    }
}

//Responsive map//

@media screen and (max-width: 768px){
    .map{
        width: 100%;
        height: max-content;
       .map-header{
        width: 100%;
            height: max-content;
            gap: 0.8rem;
            h2{
                font-size: 2.2em;
            }
            p{
                font-size: 1.2em;
            }
       }
       .map-content{
            width: 100%;
            height: max-content;
            flex-direction: column;
            gap: 1rem;
            margin-block: 2.4rem;
            margin-inline-start: 1rem;
            margin-inline-end: 1rem;
            iframe{
                width: 500px;
                height: 400px;
            }
            .map-info{
                width: 100%;
                height: max-content;
                gap: 1rem;
                h3{
                    font-size: 2em;
                }
                p{
                    font-size: 1em;
                }
            }
       }
       .map-footer{
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block-start: 3.2rem;
            border: 1px solid $orange-color;
       }
    }
}
@media screen and (max-width: 568px){
    .map{
        width: 100%;
        height: max-content;
       .map-header{
        width: 100%;
            height: max-content;
            gap: 0.8rem;
            h2{
                font-size: 2.2em;
            }
            p{
                font-size: 1.2em;
            }
       }
       .map-content{
            width: 100%;
            height: max-content;
            flex-direction: column;
            gap: 1rem;
            margin-block: 2.4rem;
            margin-inline-start: 1rem;
            margin-inline-end: 1rem;
            iframe{
                width: 390px;
                height: 350px;
            }
            .map-info{
                width: 100%;
                height: max-content;
                gap: 1rem;
                h3{
                    font-size: 2em;
                }
                p{
                    font-size: 1em;
                }
            }
       }
       .map-footer{
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block-start: 3.2rem;
            border: 1px solid $orange-color;
       }
    }
}

//Rodapé //

.footer{
    width: 100%;
    height: 280px;
    display: flex;
    background-color: #000;
    border: 1px solid $orange-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: $white-color;
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-style: normal;
    h2{
        font-size: 2.4em;
        color: $orange-color;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.2rem;
        margin-block: 0.5rem;
        margin-block-end: 1.4rem;
    }
    .footer-content{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        a{
            color: $white-color;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover{
                color: $orange-color;
            }
        }
        .footer-social{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            a{
                color: $white-color;
                text-decoration: none;
                transition: color 0.3s ease;
                &:hover{
                    color: $orange-color;
                }
            }
        }
        .footer-copyright{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            p{
                color: $white-color;
                text-decoration: none;
                transition: color 0.3s ease;
                &:hover{
                    color: $orange-color;
                }
            }
        }
        .footer-details{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 0.9rem;
            a{
                color: $white-color;
                text-decoration: none;
                transition: color 0.3s ease;
                &:hover{
                    color: $orange-color;
                }
            }
        }
    }
}
// Reponsividade //

@media screen and (max-width: 768px){
    .footer{
        width: 100%;
        height: 580px;
        flex-direction: column;
        align-items: start;
        gap: 0.8rem;
        font-size: 1em;
        p{
            margin-block-start: 0.3rem;
            margin-block-end: 0.3rem;
        }
        h2{
            font-size: 2rem;
        }
       .footer-content{
            flex-direction: column-reverse;
            height: max-content;
            width: 100%;
            gap: 1rem;
            a{
                font-size: 0.9em;
            }
            .footer-social{
                align-items: start;
                height: max-content;
                width: 100%;
                gap: 0.6rem;
                margin-inline-start: 2rem;
                a{
                    font-size: 0.9em;
                }
            }
            .footer-copyright{
                align-items: start;
                height: max-content;
                margin-inline-start: 2rem;
                gap: 0.6rem;
                width: 100%;
                p{
                    font-size: 0.9em;
                }
            }
            .footer-details{
                align-items: start;
                width: 100%;
                height: max-content;
                margin-inline-start: 2rem;
                gap: 0.7rem;
                a{
                    font-size: 0.9em;
                }
            }
        }
    }
}


//Botão WhatsApp //

.whatsapp-btn{
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    @media screen and (max-width: 991px) {
        max-width: 48px;
        left: 0;
    }

    img{
        max-width: 74px;
        transition: transform 0.3s;
        &:hover img{
            transform: scale(1.1);
        }
        @media screen and (max-width: 691px) {
            max-width: 48px;
            left: 0;
        }
    }
    
}

.whatsapp-btn span{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -140px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: $black-color;
    color: $white-color;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    cursor: pointer;
    &:hover span{
        transform: translateX(-100%);
    }
}
.whatsapp-btn:hover span{
    visibility: visible;
    opacity: 1;
}