@charset "UTF-8";
@import url("./partials/_colors.scss");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lavishly+Yours&family=Major+Mono+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&family=Quicksand:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  overflow-x: hidden;
}
header .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f8f8f8;
  z-index: 9999;
}
header .menu .menu-icon {
  font-size: 1.8rem;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #f8f8f8;
}
header .menu .menu-icon span {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}
header .menu .menu-links {
  height: -moz-max-content;
  height: max-content;
  width: 60%;
  transition: transform 0.3s;
}
header .menu .menu-links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .menu .menu-links li {
  margin-inline: 0.6rem;
  padding: 0.8rem 1rem;
  transition: border 0.3s ease;
}
header .menu .menu-links li:hover {
  border-bottom: 1px solid #0018ce;
}
header .menu .menu-links a {
  color: #f8f8f8;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s;
  animation: pulse-in 0.8s alternate;
}
header .menu .menu-links a:hover {
  color: #0018ce;
  text-shadow: 0 0 20px #0018ce;
}
header .menu .menu-bar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f8f8f8;
  transform: translateY(-100%); /* Menu escondido inicialmente */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
}
header .menu .menu-bar.active {
  transform: translateY(0); /* Menu se move para baixo quando ativo */
  opacity: 1;
}
header .menu .menu-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column; /* Alinhar as opções do menu verticalmente */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .menu .menu-bar li {
  margin-inline: 0.6rem;
  padding: 0.8rem 1rem;
  transition: border 0.3s ease;
}
header .menu .menu-bar li:hover {
  border-bottom: 1px solid #0018ce;
}
header .menu .menu-bar a {
  color: #f8f8f8;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, text-shadow 0.3s;
}
header .menu .menu-bar a:hover {
  color: #0018ce;
  text-shadow: 0 0 20px #0018ce;
}
header .menu .menu-hamburger.active + .menu .menu-bar {
  display: flex;
}
header .menu .menu-hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}
header .menu .menu-hamburger div {
  height: 4px;
  background-color: #fff;
  margin: 3px 0;
  transition: all 0.3s ease;
}
header .menu .menu-hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .menu .menu-hamburger.active div:nth-child(2) {
  opacity: 0;
}
header .menu .menu-hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
header .menu .menu-btn {
  background-color: #0018ce;
  color: #f8f8f8;
  padding: 12px 32px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
header .menu .menu-btn:hover {
  background-color: #f8f8f8;
  color: #000000;
  box-shadow: 0 0 16px #f8f8f8;
}
header .menu .menu-btn a {
  transition: color 0.3s ease;
  color: #f8f8f8;
  margin-inline: 0.6rem;
}
header .menu .menu-btn a:hover {
  color: #0018ce;
}

@keyframes pulse-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1180px) {
  header {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
  }
  header .menu {
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    z-index: 10;
  }
  header .menu .menu-bar {
    display: none;
  }
  header .menu .menu-icon {
    font-size: 1.4rem;
    margin-inline: 1.6rem;
    color: #f8f8f8;
  }
  header .menu .menu-icon span {
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-style: normal;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
  }
  header .menu-links {
    display: none;
  }
  header .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
  }
  header .menu .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10;
  }
  header .menu .menu-btn {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
  header .menu .menu-hamburger {
    display: flex;
  }
}
@media screen and (max-width: 498px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  header .menu-links {
    display: none;
  }
  header .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
  }
  header .menu .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10;
  }
  header .menu .menu-btn {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
  header .menu .menu-hamburger {
    display: flex;
  }
}
.bg-container {
  width: 100%;
  position: relative;
}

.bg-container::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000), url("../assets/Progecoes-images-2.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1600px;
  background-color: #000;
  color: white;
  padding: 12%;
}

.containerhard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 2100px;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 6%;
}

.hero {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: left;
  padding: 12%;
}
.hero .hero-content {
  max-width: 100vh;
  height: -moz-max-content;
  height: max-content;
  z-index: -1;
}
.hero .hero-content h1 {
  font-size: 4.6em;
  margin-bottom: 0.2em;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}
.hero .hero-content h2 {
  font-size: 2.8em;
  font-family: "Major Mono Display", serif;
  font-weight: 100;
  margin-bottom: 0.2em;
}
.hero .hero-content p {
  font-size: 1.2em;
  margin-block: 0.8rem;
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  letter-spacing: 0.2rem;
  width: 70%;
  margin-block-start: 1rem;
  margin-block-end: 2.8rem;
}
.hero .hero-btn {
  margin-top: 1em;
  background-color: #0018ce;
  color: white;
  padding: 1em 2rem;
  margin-block: 1.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.hero .hero-btn:hover {
  background-color: #f8f8f8;
  color: #000;
  box-shadow: 0 0 20px #f8f8f8;
}

.hero-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
  margin-top: 2rem;
  margin-bottom: 5.6rem;
  -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);
}
.hero-carousel div {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  animation: scroll 8s linear infinite;
}
.hero-carousel div p {
  font-size: 1.2em;
  font-family: "Major Mono Display", serif;
  color: #ff8c00;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.2rem;
}

@media screen and (max-width: 1180px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-content {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 5%;
  }
  .hero .hero-content h1 {
    font-size: 3.6em;
  }
  .hero .hero-content h2 {
    font-size: 2.2em;
  }
  .hero .hero-content p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 992px) {
  .hero {
    height: 20vh;
    justify-content: start;
    align-items: start;
  }
  .hero .hero-content {
    position: absolute;
    top: 30%;
    left: 0;
    padding: 5%;
  }
  .hero .hero-content h1 {
    font-size: 3.6em;
  }
  .hero .hero-content h2 {
    font-size: 2.2em;
  }
  .hero .hero-content p {
    font-size: 1em;
  }
  .hero-carousel {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .hero-carousel div {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
  .hero-carousel div p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 468px) {
  .hero {
    height: 15vh;
    flex-direction: column;
  }
  .hero .hero-content {
    position: absolute;
    top: 25%;
    left: 0;
    padding: 5%;
  }
  .hero .hero-content h1 {
    font-size: 2.4em;
  }
  .hero .hero-content h2 {
    font-size: 1.6em;
  }
  .hero .hero-content p {
    font-size: 0.9em;
  }
  .hero .hero-btn {
    margin-top: 0;
    border-radius: 0;
    padding: 0.6rem 1.4rem;
    margin-bottom: 1em;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  justify-content: space-around;
  margin-top: 3em;
  padding: 2em;
}
.gallery .gallery-header {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  gap: 1rem;
}
.gallery .gallery-header div {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin-inline-end: 3.8rem;
}
.gallery .gallery-header h2 {
  font-size: 3.6em;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 100;
  margin-bottom: 0.2em;
}
.gallery .gallery-header p {
  font-size: 1.2em;
  margin-block: 0.8rem;
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  letter-spacing: 0.2rem;
  width: 80%;
  margin-block-start: 1.6rem;
  margin-block-end: 3.4rem;
}
.gallery .gallery-content {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/Projecoes-img-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.gallery .gallery-content:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.gallery .gallery-content div:nth-child(2) {
  flex-direction: row-reverse;
}
.gallery .gallery-content div:nth-child(2) .midia {
  width: 80%;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  transition: background-size 0.3s ease;
}
.gallery .gallery-content div:nth-child(2) .midia img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery-content .gallery-item {
  height: 40vh;
  width: 130%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1em;
}
.gallery .gallery-content .gallery-item .midia {
  width: auto;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  transition: background-size 0.3s ease;
}
.gallery .gallery-content .gallery-item .midia img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery-content .gallery-item .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 400px;
  margin-inline-start: 2rem;
}
.gallery .gallery-content .gallery-item .content h3 {
  font-size: 2.4em;
  text-align: left;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #ff8c00;
  margin-block: 0.2rem;
}
.gallery .gallery-content .gallery-item .content h4 {
  font-size: 1.4em;
  text-align: left;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #ff8c00;
  margin-block: 0.8rem;
}
.gallery .gallery-content .gallery-item .content span {
  font-size: 1.6em;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 0.2rem;
  margin-block: 0.4rem;
}
.gallery .gallery-content .gallery-item .content p {
  font-size: 0.9em;
  text-align: left;
  letter-spacing: 0.2rem;
  margin-block: 0.4rem;
}

@media screen and (max-width: 1180px) {
  .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery .gallery-content {
    width: 100%;
    margin-top: 1em;
  }
}
@media only screen and (max-width: 992px) {
  .gallery {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
  }
  .gallery .gallery-header {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    gap: 1rem;
  }
  .gallery .gallery-header h2 {
    font-size: 2rem;
  }
  .gallery .gallery-header p {
    font-size: 1rem;
  }
  .gallery .gallery-content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-top: 1em;
    padding: 1em;
  }
  .gallery .gallery-content div:nth-child(2) {
    flex-direction: column;
  }
  .gallery .gallery-content .gallery-item {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em;
  }
  .gallery .gallery-content .gallery-item .content {
    height: -moz-max-content;
    height: max-content;
    margin: 0;
  }
  .gallery .gallery-content .gallery-item .content h3 {
    font-size: 2em;
    text-align: left;
    color: #ff8c00;
    margin-block: 0.2rem;
  }
  .gallery .gallery-content .gallery-item .content span {
    font-size: 1.6em;
    text-align: left;
    margin-block: 0.4rem;
  }
  .gallery .gallery-content .gallery-item .content p {
    font-size: 0.9em;
    text-align: left;
    margin-block: 0.4rem;
  }
  .gallery .gallery-content .gallery-item .content h4 {
    font-size: 1.4em;
    text-align: left;
    color: #ff8c00;
    margin-block: 0.8rem;
  }
}
@media only screen and (max-width: 468px) {
  .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery .gallery-header {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    gap: 1rem;
  }
  .gallery .gallery-header h2 {
    font-size: 2rem;
  }
  .gallery .gallery-header p {
    font-size: 1rem;
  }
  .gallery .gallery-content {
    background-color: aqua;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    margin-top: 1em;
  }
  .gallery .gallery-content .gallery-item {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .gallery .gallery-content .gallery-item .content h3 {
    font-size: 1.4rem;
  }
  .gallery .gallery-content .gallery-item .content span {
    font-size: 1rem;
  }
  .gallery .gallery-content .gallery-item .content p {
    font-size: 0.8rem;
    font-weight: 100;
  }
  .gallery .gallery-content .gallery-item .content h4 {
    font-size: 1rem;
  }
  .gallery .gallery-content .midia {
    width: 10%;
    display: none;
    height: 100px;
  }
  .gallery .gallery-content .midia img {
    width: 10%;
    height: 10%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.highlights {
  display: flex;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 3.6rem;
  padding: 2.4rem;
}
.highlights .highlights-header {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  color: #f8f8f8;
  text-align: center;
  margin-block-end: 5.2rem;
}
.highlights .highlights-header h2 {
  font-size: 3.6em;
  color: #ff8c00;
  margin-block: 0;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.4rem;
}
.highlights .highlights-header p {
  font-size: 1.6em;
  letter-spacing: 0.2rem;
  text-align: right;
  width: 80%;
  margin-block: 0.8rem;
}
.highlights .highlights-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.highlights .highlights-content .highlights-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2.4rem;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.highlights .highlights-content .highlights-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.highlights .highlights-content .highlights-item .highlights-object {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-inline: 0.8rem;
  transition: transform 0.3s, box-shadow 0.3s ease;
}
.highlights .highlights-content .highlights-item .highlights-object:hover {
  box-shadow: 0px 0px 20px #ff8c00;
  transform: scale(1.01);
}
.highlights .highlights-content .highlights-item .highlights-object img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.highlights .highlights-content .highlights-item .highlights-object img:hover {
  transform: scale(1.01);
}
.highlights .highlights-content .highlights-item .highlights-object h3 {
  font-size: 2em;
  color: #ff8c00;
  margin-block: 0.4rem;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block-start: 2rem;
  margin-inline-start: 0.4rem;
}
.highlights .highlights-content .highlights-item .highlights-object h4 {
  font-size: 1.4em;
  color: #ff8c00;
  margin-block: 0.4rem;
  letter-spacing: 0.2rem;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-block-start: 0.8rem;
  margin-inline-start: 0.4rem;
}
.highlights .highlights-content .highlights-item .highlights-object p {
  font-size: 1.2em;
  color: #f8f8f8;
  margin-block: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
  margin-inline-start: 0.4rem;
}
.highlights .highlights-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-top: 2rem;
  margin-bottom: 5.6rem;
  -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);
}
.highlights .highlights-carousel div {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  animation: scroll 8s linear infinite;
}
.highlights .highlights-carousel div p {
  font-size: 1.2em;
  color: #ff8c00;
  margin-block: 0.2rem;
}

@keyframes partners {
  to {
    transform: translateX(-100%);
  }
  from {
    transform: translateX(100%);
  }
}
@keyframes scroll {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 1024px) {
  .highlights {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media only screen and (max-width: 768px) {
  .highlights {
    flex-direction: column;
    align-items: center;
    height: -moz-max-content;
    height: max-content;
    margin-top: 2.4rem;
    padding: 1.6rem;
  }
  .highlights .highlights-header {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-block-end: 3.2rem;
  }
  .highlights .highlights-header h2 {
    font-size: 2.2em;
    margin-block: 0;
    text-align: right;
  }
  .highlights .highlights-header p {
    font-size: 1.2em;
    width: 80%;
    text-align: right;
    margin-block: 0.8rem;
  }
  .highlights .highlights-content {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 0;
    flex-direction: column;
  }
  .highlights .highlights-content .highlights-item {
    width: 100%;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .highlights .highlights-content .highlights-item .highlights-object {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 12px;
  }
  .highlights .highlights-content .highlights-item .highlights-object img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px;
    margin: 0;
    padding: 0;
  }
  .highlights .highlights-content .highlights-item .highlights-object h3 {
    font-size: 1.8em;
    color: #ff8c00;
    margin-block: 0.4rem;
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-style: normal;
    margin-inline-start: 0.4rem;
  }
}
.partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-top: 3.6rem;
  gap: 2.4rem;
}
.partners .partners-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-block-end: 5.2rem;
  border: 1px solid #ff8c00;
  -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);
}
.partners .partners-content .partner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 150px;
  margin-right: 1.6rem;
  animation: partners 7s linear infinite;
}
.partners .partners-content .partner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}

@media only screen and (max-width: 768px) {
  .partners {
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem;
    gap: 1.6rem;
  }
  .partners .partners-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block-end: 2.4rem;
    border: none;
    animation: partners 10s linear infinite;
    -webkit-mask-image: linear-gradient(90deg, transparent, #121212 10%, #111111 70%, transparent);
  }
  .partners .partners-content .partner {
    width: auto;
    height: auto;
    margin-right: 0;
    animation: none;
  }
  .partners .partners-content .partner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 16/9;
  }
}
.showcase {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 2.4rem;
}
.showcase .showcase-header {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 1rem;
}
.showcase .showcase-header div {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin-inline: 2rem;
}
.showcase .showcase-header div h2 {
  font-size: 3.6em;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.8rem;
}
.showcase .showcase-header div p {
  font-size: 1.4em;
  color: #f8f8f8;
  letter-spacing: 0.2rem;
  width: 70%;
  margin-block: 0.8rem;
}
.showcase .showcase-content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.4rem;
  margin-block-start: 7.6rem;
}
.showcase .showcase-content .showcase-item {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}
.showcase .showcase-content .showcase-item:hover {
  box-shadow: 0 0 30px rgba(255, 132, 0, 0.9);
}
.showcase .showcase-content .showcase-item .showcase-midia {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 0.8rem;
}
.showcase .showcase-content .showcase-item .showcase-midia img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/6;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.showcase .showcase-content .showcase-item .showcase-midia img:hover {
  transform: scale(1.02);
}
.showcase .showcase-content .showcase-item .showcase-info {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.showcase .showcase-content .showcase-item .showcase-info h3 {
  font-size: 2.4em;
  color: #f8f8f8;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.8rem;
  margin-inline-start: 0.8rem;
}
.showcase .showcase-content .showcase-item .showcase-info span {
  font-size: 1.6em;
  color: #f8f8f8;
  letter-spacing: 0.2rem;
  width: 70%;
  margin-block: 0.8rem;
  text-align: left;
  margin-inline-start: 0.8rem;
}
.showcase .showcase-content .showcase-item .showcase-info p {
  font-size: 1.2em;
  color: #f8f8f8;
  letter-spacing: 0.2rem;
  width: 70%;
  margin-block: 0.8rem;
  text-align: left;
  margin-inline-start: 0.8rem;
}
.showcase .showcase-content .showcase-item .showcase-info h4 {
  font-size: 1.6em;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.8rem;
  margin-inline-start: 0.8rem;
}

@media screen and (max-width: 1298px) {
  .showcase {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .showcase .showcase-header {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .showcase-content {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .showcase-content .showcase-item {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .showcase-content .showcase-item .showcase-midia {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .showcase-content .showcase-item .showcase-info {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .showcase-content .showcase-item .showcase-info p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .showcase {
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .showcase .showcase-header {
    height: -moz-max-content;
    height: max-content;
    gap: 0.8rem;
  }
  .showcase .showcase-header div {
    width: 100%;
  }
  .showcase .showcase-header div h2 {
    font-size: 2.2em;
    width: 100%;
  }
  .showcase .showcase-header div p {
    font-size: 1em;
    width: 100%;
  }
  .showcase .showcase-content {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
  }
  .showcase .showcase-content .showcase-item {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .showcase .showcase-content .showcase-item .showcase-midia {
    background: transparent;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    height: max-content;
  }
  .showcase .showcase-content .showcase-item .showcase-midia img {
    width: 80%;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .showcase .showcase-content .showcase-item .showcase-info {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    max-width: 100vh;
    width: 100%;
  }
  .showcase .showcase-content .showcase-item .showcase-info h3 {
    font-size: 1.8em;
  }
  .showcase .showcase-content .showcase-item .showcase-info span {
    font-size: 1em;
  }
  .showcase .showcase-content .showcase-item .showcase-info p {
    width: 90%;
    font-size: 1em;
  }
  .showcase .showcase-content .showcase-item .showcase-info h4 {
    font-size: 1.4em;
  }
}
.testimonials {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.testimonials .testimonials-header {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 1rem;
}
.testimonials .testimonials-header h2 {
  font-size: 3.6em;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.8rem;
}
.testimonials .testimonials-header p {
  font-size: 1.4em;
  color: #f8f8f8;
  text-align: right;
  letter-spacing: 0.2rem;
  width: 70%;
  margin-block: 0.8rem;
}
.testimonials .testimonials-content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-block-start: 3.8rem;
}
.testimonials .testimonials-content .testmonials-item {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #ff8c00;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}
.testimonials .testimonials-content .testmonials-item:hover {
  box-shadow: 0 0 30px #ff8c00;
}
.testimonials .testimonials-content .testmonials-item .testmonials-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-block: 2.4rem;
}
.testimonials .testimonials-content .testmonials-item .testmonials-image span {
  font-size: 2rem;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}
.testimonials .testimonials-content .testmonials-item .testmonials-image span:hover {
  text-shadow: 0px 0px 20px #ff8c00, 0px 0px -20px #ff8c00;
  transform: scale(1.05);
}
.testimonials .testimonials-content .testmonials-item .testimonials-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin-inline-start: 2.4rem;
}
.testimonials .testimonials-content .testmonials-item .testimonials-info h3 {
  font-size: 2.4em;
  color: #f8f8f8;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.2rem;
}
.testimonials .testimonials-content .testmonials-item .testimonials-info p {
  font-size: 1.1em;
  color: #f8f8f8;
  letter-spacing: 0.2rem;
  width: 80%;
  margin-block: 0.6rem;
}
.testimonials .testimonials-content .testmonials-item .testimonials-info span {
  font-size: 1.4em;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.2rem;
  margin-block-end: 1.8rem;
}

@media screen and (max-width: 1268px) {
  .testimonials {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .testimonials .testimonials-header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 0.8rem;
  }
  .testimonials .testimonials-header h2 {
    font-size: 2.2em;
  }
  .testimonials .testimonials-header p {
    font-size: 1.2em;
  }
  .testimonials .testimonials-content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .testimonials .testimonials-content .testmonials-item {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 1rem;
    margin-block-start: 1.8rem;
    margin-block-end: 1.8rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-image {
    margin-block-end: 1rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info h3 {
    font-size: 2em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info span {
    font-size: 1.2em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info p {
    font-size: 1em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info h4 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 768px) {
  .testimonials {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .testimonials .testimonials-header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 0.8rem;
  }
  .testimonials .testimonials-header h2 {
    width: 90%;
    font-size: 2.2em;
  }
  .testimonials .testimonials-header p {
    width: 90%;
    font-size: 1.2em;
    margin-inline-start: 1rem;
  }
  .testimonials .testimonials-content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .testimonials .testimonials-content .testmonials-item {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-image {
    margin-block-end: 1rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info h3 {
    font-size: 2em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info span {
    font-size: 1.2em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info p {
    width: 90%;
    font-size: 1em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info h4 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 568px) {
  .testimonials {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .testimonials .testimonials-header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin: 0;
  }
  .testimonials .testimonials-header h2 {
    width: 90%;
    flex-wrap: wrap;
    font-size: 2.2em;
  }
  .testimonials .testimonials-header p {
    text-align: left;
    width: 90%;
    flex-wrap: wrap;
    font-size: 1.2em;
  }
  .testimonials .testimonials-content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .testimonials .testimonials-content .testmonials-item {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    border: none;
    margin-block-start: 1.8rem;
    margin-block-end: 1.8rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-image {
    margin-block-end: 1rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info h3 {
    font-size: 1.5em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info span {
    font-size: 1.1em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info p {
    width: 90%;
    text-align: left;
    font-size: 1em;
  }
  .testimonials .testimonials-content .testmonials-item .testimonials-info h4 {
    font-size: 1.1em;
  }
}
.faq {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.faq .faq-header {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 1rem;
}
.faq .faq-header h2 {
  font-size: 3.6em;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.8rem;
  margin-inline-start: 2rem;
}
.faq .faq-header p {
  font-size: 1.4em;
  color: #f8f8f8;
  text-align: left;
  letter-spacing: 0.2rem;
  width: 70%;
  margin-block: 0.8rem;
  margin-inline-start: 2rem;
}
.faq .faq-content {
  width: 95%;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.6rem;
  padding-inline-start: 5%;
  margin-block-start: 3.8rem;
}
.faq .faq-content .faq-item {
  width: 100%;
  height: 300px;
  border: 1px solid #ff8c00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transition: box-shadow 0.3s ease;
}
.faq .faq-content .faq-item:hover {
  box-shadow: 0 0 30px #ff8c00;
}
.faq .faq-content .faq-item .faq-answer {
  max-height: 0; /* Começa com altura zero */
  opacity: 0; /* Começa invisível */
  overflow: hidden; /* Garante que o conteúdo não vaze */
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Transição suave */
  margin-top: 10px;
  padding: 0 10px; /* Padding inicial sem altura */
  color: #ff8c00;
  border-radius: 5px;
}
.faq .faq-content .faq-item .faq-answer.open {
  max-height: 200px; /* Altura máxima estimada para a resposta */
  opacity: 1; /* Torna visível */
  padding: 10px; /* Adiciona padding quando aberto */
}
.faq .faq-content .faq-item h3 {
  font-size: 2.4em;
  color: #f8f8f8;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block-start: 1.2rem;
  margin-block: 0.2rem;
  width: 90%;
  margin-inline-start: 1rem;
}
.faq .faq-content .faq-item p {
  font-size: 1.1em;
  color: #f8f8f8;
  letter-spacing: 0.2rem;
  width: 90%;
  margin-block: 0.6rem;
  margin-inline-start: 1rem;
}
.faq .faq-content .faq-item .faq-btn {
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  border: 1px solid #ff8c00;
  color: #f8f8f8;
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.faq .faq-content .faq-item .faq-btn:hover {
  box-shadow: 0px 0px 10px #ff8c00;
  background-color: #ff8c00;
  color: #f8f8f8;
}

@media screen and (max-width: 1398px) {
  .faq {
    margin-block: 0.8rem;
  }
  .faq .faq-header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 0.8rem;
  }
  .faq .faq-header h2 {
    width: 90%;
    font-size: 2.2em;
  }
  .faq .faq-header p {
    width: 90%;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 768px) {
  .faq {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .faq .faq-header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 0.8rem;
  }
  .faq .faq-header h2 {
    width: 90%;
    font-size: 2.2em;
  }
  .faq .faq-header p {
    width: 90%;
    font-size: 1.2em;
  }
  .faq .faq-content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .faq .faq-content .faq-item {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 1rem;
    border: none;
    margin-block-start: 1.8rem;
    margin-block-end: 1.8rem;
  }
  .faq .faq-content .faq-item h3 {
    font-size: 1.8rem;
    margin-block-start: 1rem;
  }
  .faq .faq-content .faq-item p {
    width: 90%;
    font-size: 1em;
  }
  .faq .faq-content .faq-item .faq-btn {
    padding: 0.4rem 1rem;
    font-size: 0.8em;
    margin-inline-end: 1.2rem;
    margin-block-end: 1rem;
  }
}
.map {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-block-start: 3.8rem;
}
.map .map-header {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 1rem;
}
.map .map-header h2 {
  font-size: 3.6em;
  color: #ff8c00;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 0.8rem;
  margin-inline-end: 2rem;
}
.map .map-header p {
  font-size: 1.4em;
  color: #f8f8f8;
  text-align: right;
  letter-spacing: 0.2rem;
  width: 70%;
  margin-block: 0.8rem;
  margin-inline-end: 2rem;
}
.map .map-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-block: 2.4rem;
  height: -moz-max-content;
  height: max-content;
}
.map .map-content iframe {
  width: 900px;
  height: 600px;
}
.map .map-content .map-info {
  width: 60%;
  height: -moz-max-content;
  height: max-content;
  gap: 1rem;
}
.map .map-content .map-info h3 {
  font-size: 3.4em;
  color: #f8f8f8;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 1.4rem;
  margin-inline-start: 1rem;
}
.map .map-content .map-info p {
  font-size: 1.1em;
  color: #f8f8f8;
  letter-spacing: 0.2rem;
  width: 80%;
  margin-block: 0.6rem;
  margin-inline-start: 1rem;
}
.map .map-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block-start: 3.2rem;
  border: 1px solid #ff8c00;
}

@media screen and (max-width: 768px) {
  .map {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .map .map-header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 0.8rem;
  }
  .map .map-header h2 {
    font-size: 2.2em;
  }
  .map .map-header p {
    font-size: 1.2em;
  }
  .map .map-content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2.4rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
  }
  .map .map-content iframe {
    width: 500px;
    height: 400px;
  }
  .map .map-content .map-info {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 1rem;
  }
  .map .map-content .map-info h3 {
    font-size: 2em;
  }
  .map .map-content .map-info p {
    font-size: 1em;
  }
  .map .map-footer {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 3.2rem;
    border: 1px solid #ff8c00;
  }
}
@media screen and (max-width: 568px) {
  .map {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .map .map-header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 0.8rem;
  }
  .map .map-header h2 {
    font-size: 2.2em;
  }
  .map .map-header p {
    font-size: 1.2em;
  }
  .map .map-content {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2.4rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
  }
  .map .map-content iframe {
    width: 390px;
    height: 350px;
  }
  .map .map-content .map-info {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    gap: 1rem;
  }
  .map .map-content .map-info h3 {
    font-size: 2em;
  }
  .map .map-content .map-info p {
    font-size: 1em;
  }
  .map .map-footer {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 3.2rem;
    border: 1px solid #ff8c00;
  }
}
.footer {
  width: 100%;
  height: 280px;
  display: flex;
  background-color: #000;
  border: 1px solid #ff8c00;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #f8f8f8;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-style: normal;
}
.footer h2 {
  font-size: 2.4em;
  color: #ff8c00;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
  margin-block: 0.5rem;
  margin-block-end: 1.4rem;
}
.footer .footer-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.footer .footer-content a {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footer-content a:hover {
  color: #ff8c00;
}
.footer .footer-content .footer-social {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.footer .footer-content .footer-social a {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footer-content .footer-social a:hover {
  color: #ff8c00;
}
.footer .footer-content .footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.footer .footer-content .footer-copyright p {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footer-content .footer-copyright p:hover {
  color: #ff8c00;
}
.footer .footer-content .footer-details {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
}
.footer .footer-content .footer-details a {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footer-content .footer-details a:hover {
  color: #ff8c00;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 580px;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
    font-size: 1em;
  }
  .footer p {
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
  }
  .footer h2 {
    font-size: 2rem;
  }
  .footer .footer-content {
    flex-direction: column-reverse;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    gap: 1rem;
  }
  .footer .footer-content a {
    font-size: 0.9em;
  }
  .footer .footer-content .footer-social {
    align-items: start;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    gap: 0.6rem;
    margin-inline-start: 2rem;
  }
  .footer .footer-content .footer-social a {
    font-size: 0.9em;
  }
  .footer .footer-content .footer-copyright {
    align-items: start;
    height: -moz-max-content;
    height: max-content;
    margin-inline-start: 2rem;
    gap: 0.6rem;
    width: 100%;
  }
  .footer .footer-content .footer-copyright p {
    font-size: 0.9em;
  }
  .footer .footer-content .footer-details {
    align-items: start;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-inline-start: 2rem;
    gap: 0.7rem;
  }
  .footer .footer-content .footer-details a {
    font-size: 0.9em;
  }
}
.whatsapp-btn {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
@media screen and (max-width: 991px) {
  .whatsapp-btn {
    max-width: 48px;
    left: 0;
  }
}
.whatsapp-btn img {
  max-width: 74px;
  transition: transform 0.3s;
}
.whatsapp-btn img:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 691px) {
  .whatsapp-btn img {
    max-width: 48px;
    left: 0;
  }
}

.whatsapp-btn span {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -140px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  background-color: #000000;
  color: #f8f8f8;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  cursor: pointer;
}
.whatsapp-btn span:hover span {
  transform: translateX(-100%);
}

.whatsapp-btn:hover span {
  visibility: visible;
  opacity: 1;
}

html {
  font-family: "Roboto Flex", sans-serif;
  background-color: #000000;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */